body {
    text-align: center;
}

nav {
    background-color: seagreen;
    padding: 15px;
}

nav a {
    text-decoration: none;
    margin: 30px;
    color: white;
}

nav a:hover {
    background-color: skyblue;
    padding: 10px;
}

img {
    width: 500px;
    border: 4px solid seagreen;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3 ease-in-out;
}

main :hover img {
    opacity: 0.5;
}

p {
    padding: 10px;
}

footer {
    background-color: seagreen;
    color: white;
    padding: 20px;

}